/* styles.css */

/* Стили для блока еды */
.food-block {
    background-color: lightgray; /* Фоновый цвет */
    padding: 10px 20px; /* Внутренние отступы: 10px сверху и снизу, 20px слева и справа */
    border: 3px solid orange; /* Бордер: 3 пикселя, сплошной, оранжевый */
    margin-bottom: 20px; /* Отступ между блоками */
}

/* Стили для заголовка внутри блока еды */
.food-block h2 {
    margin: 10px 0; /* Внешние отступы: 10px сверху и снизу */
}

/* Стили для абзаца текста внутри блока еды */
.food-block p {
    padding: 10px 0; /* Внутренние отступы: 10px сверху и снизу */
    margin: 0 20px; /* Внешние отступы: 0 сверху и снизу, 20px слева и справа */
    border-bottom: 1px solid black; /* Нижний бордер: 1 пиксель, сплошной, черный */
}
